# Brute force db migration

In [1]:
%load_ext autoreload 
%autoreload 2
import sqlite3 
from sqlite3 import Error 
import sql_tools

In [2]:
path_hokui = "../../app.sqlite3"
path_hokumed = "./app.sqlite"

# basic CRUD

In [6]:
@sqlConnect
def sqlTable(con):
    cursorObj = con.cursor()
    cursorObj.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hireDate text)")
    con.commit()

sqlTable()

NameError: name 'sqlConnect' is not defined

In [ ]:
@sqlConnect
def insertPlace(con,entities):
    cursorObj = con.cursor()
    cursorObj.execute('INSERT INTO employees(id, name, salary, department, position, hireDate) VALUES(?, ?, ?, ?, ?, ?)', entities)
    con.commit()   
entities = (4, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')
insertPlace(entities)

In [ ]:
@sqlConnect
def fetchSpecific(con):
    cursorObj = con.cursor()
    cursorObj.execute('SELECT id, name FROM employees WHERE salary > 750.0')
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
        
fetchSpecific()

# User migration

In [13]:
@sql_tools.sqlConnect(path =path_hokui)
def sqlFetch(con):
    cursorObj = con.cursor()
    cursorObj.execute('SELECT * FROM users')
    rows = cursorObj.fetchall()
    return(rows)

user_data = sqlFetch()

sqlFetch
finish!

In [22]:
user_data[7]

(27,
 'applebee@eis.hokudai.ac.jp',
 '$2a$10$0RFSklrtB6QDm9t1doRrk.Tmlw.3Ewn2iOTXcLYgbu7J6VFBiS5JC',
 'jzqZQVJYpEivMVkTvvDC',
 '2015-04-06 12:09:39.248103',
 '2018-12-20 14:40:25.592338',
 'active',
 None,
 None,
 'approved',
 None,
 None,
 None,
 '2019-09-02 05:23:33.293189',
 '2017-08-07 12:10:58.677370',
 '2019-09-02 05:26:16.927289',
 '106.161.233.121',
 '伊藤',
 '昂哉',
 'ITOxide',
 '1955-03-31',
 'applebeekoyaI@gmail.com',
 't',
 3,
 27)